# Зависимости
node_modules/
backend/node_modules/
frontend/node_modules/

# Файлы окружения
.env
backend/.env
frontend/.env
frontend/.env.local

# Сборки и логи
dist/
build/
*.log
backend/dist/
frontend/.next/
frontend/out/

# Системные файлы
.DS_Store
Thumbs.db